<div class="row">
  <div class="large-6 medium-6 column">
    <h2>Status of <%= current_user.uid %></h2>
  </div>
  <div class="large-6 medium-6 column">
    <%= image_tag 'nyc.png' %>
  </div>
</div>

