<h1>Status of <%= current_user.name %></h1>

<% if current_user %>
  <%= current_user.tod_morning_early == 1 ? "Early" : "" %>
  <%= current_user.tod_morning_middle == 1 ? "Middle" : "" %>
  <%= current_user.tod_morning_late == 1 ? "Late" : "" %>
<% end %>
